! URxvt settings
URxvt*.scrollBar: false
URxvt*.secondaryScroll: true
URxvt*.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select
URxvt*.loginShell: true
URxvt*.url-launcher: /usr/bin/firefox
URxvt*.matcher.button: 1
URxvt*.background: [80]#000000
URxvt*.foreground: grey90
URxvt*.cursorColor: Green
URxvt*.font: xft:Terminus:pixelsize=14
URxvt*.boldFont: xft:Terminus:bold:pixelsize=14
URxvt*.italicFont: xft:Terminus:italic:pixelsize=14
URxvt*.boldItalicFont: xft:Terminus:bold:italic:pixelsize=14
URxvt*.colorUL: #00D1FF
URxvt*.depth: 32
URxvt*.shading: 20

! URxvt theme

URxvt*color0  : #2E3436
URxvt*color8  : #555753
! red
URxvt*color1  : #a31604
URxvt*color9  : #c60001
! green
URxvt*color2  : #447241
URxvt*color10 : #27a343
! yellow
URxvt*color3  : #c1951a
URxvt*color11 : #d5a30e
! blue
URxvt*color4  : #425387
URxvt*color12 : #4a5a8d
! magenta
URxvt*color5  : #965d98
URxvt*color13 : #893c8c
! cyan
URxvt*color6  : #06989A
URxvt*color14 : #12bccb
! white
URxvt*color7  : #D3D7CF
URxvt*color15 : #EEEEEC

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #2e9ef4 ,  #1B2B34
rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
rofi.color-window:                   argb:CC000000,  #285577 , #2e9ef4 
rofi.separator-style:                solid

rofi.location: 1
rofi.lines:    10
rofi.hide-scrollbar: true
rofi.font: Terminus 16px
rofi.yoffset: 22
